.chatbar {
    background: tomato;
    border-top: 1px solid black;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
  }

  .chatbar-message,
  .chatbar-username {
    border: 1px solid black;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 9px;
  }

  .chatbar-message {
    flex: 8;
  }

  .chatbar-username {
    flex: 2;
  }